
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content white-bg">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-1">
                                    Partnership Summary
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-2">
                                    Partnership Summary (Local Currency)
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-3">
                                    Partnership Summary (By Year)
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#tab-4">
                                    Partnership Summary (Local Currency)
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            @Html.Awe().Grid("grid1").Url(Url.Action("BuildReportForPartnershipArmByMonthAndYear", "PartnershipReportsGrid")).Parameter("zoneId", Request.QueryString["id"]).GroupRemovable(true).PageSize(15).Columns(
                                new Column { Name = "PartnershipArmName", Header = "Partnership Arm" },
                                new Column() { Name = "Month", Header = "Month" },
                                new Column() { Name = "Year", Header = "Year" },
                                new Column() { Header = "Amount", ClientFormat = ".CurrencyName.Amount" },
                                new Column() { Header = "Amount (Local Currency)", ClientFormat = ".DenominatedCurrencyName.DenominatedAmount" })
                        </div>

                        <div id="tab-2" class="tab-pane">
                            @Html.Awe().Grid("grid2").Url(Url.Action("BuildReportForPartnershipArmByMonthAndYearWithDefault", "PartnershipReportsGrid")).Parameter("zoneId", Request.QueryString["id"]).GroupRemovable(true).PageSize(15).Columns(
                                new Column { Name = "PartnershipArmName", Header = "Partnership Arm" },
                                new Column() { Name = "Year", Header = "Year" },
                                new Column() { Name = "Month", Header = "Month" },
                                new Column() { Header = "Amount (Local Currency)", ClientFormat = ".DenominatedCurrencyName.DenominatedAmount" })
                        </div>

                        <div id="tab-3" class="tab-pane">
                            @Html.Awe().Grid("grid3").Url(Url.Action("BuildReportForPartnershipArmWithYearlyCumulatives", "PartnershipReportsGrid")).Parameter("zoneId", Request.QueryString["id"]).GroupRemovable(true).PageSize(15).Columns(
                                new Column { Name = "PartnershipArmName", Header = "Partnership Arm" },
                                new Column() { Name = "Year", Header = "Year" },
                                new Column() { Header = "Amount", ClientFormat = ".CurrencyName.Amount" },
                                new Column() { Header = "Amount (Local Currency)", ClientFormat = ".DenominatedCurrencyName.DenominatedAmount" })
                        </div>

                        <div id="tab-4" class="tab-pane">
                            @Html.Awe().Grid("grid4").Url(Url.Action("BuildReportForPartnershipArmByMonthAndYearWithDefault", "PartnershipReportsGrid")).Parameter("zoneId", Request.QueryString["id"]).GroupRemovable(true).PageSize(15).Columns(
                            new Column { Name = "PartnershipArmName", Header = "Partnership Arm" },
                            new Column() { Name = "Year", Header = "Year" },
                            new Column() { Header = "Amount (Local Currency)", ClientFormat = ".DenominatedCurrencyName.DenominatedAmount" })
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
