
@{
    ViewBag.Title = "Upload Chapters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_headerPartial")
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-8">
            <div class="ibox-content float-e-margins white-bg">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.Partial("_validationSummary")
                        @using (Html.BeginForm("Chapter","BulkUpload", FormMethod.Post, new{encType = "multipart/form-data"}))
                        {
                            <input type="file" name="file"/>
                            <br/>
                            <button class="btn btn-success btn-sm" type="submit">
                                <i class="fa fa-file-excel-o"></i> Upload
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    
    
</div>