<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Unibencellinfo_partnershipConnection" connectionString="data source=184.168.194.51;initial catalog=unibencellinfo_partnership;persist security info=True;user id=edikep2000;password=anderson2013" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>