<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Unibencellinfo_partnershipConnection" connectionString="Data Source=PETER;Initial Catalog=partnerships;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>