@using Zakar.Controllers.Extensions

@{
    ViewBag.Title = "Yearly Summary (Local Currency)";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var zoneId = ((Controller)this.ViewContext.Controller).CurrentZoneAdministered().Result.Id;
}

@Html.Partial("_headerPartial")
<br />
<br />
<div class="wrapper wrapper-content white-bg">
    <div class="ibox">

        <div class="ibox-content">
            @Html.Awe().Grid("grid").Url(Url.Action("BuildReportForPartnershipArmByMonthAndYearWithDefault", "PartnershipReportsGrid")).Parameter("zoneId", zoneId).GroupRemovable(true).PageSize(15).Columns(
            new Column { Name = "PartnershipArmName", Header = "Partnership Arm" },
            new Column() { Name = "Year", Header = "Year" },
            new Column() { Header = "Amount (Local Currency)", ClientFormat = ".DenominatedCurrencyName.DenominatedAmount" })
        </div>
    </div>
</div>